body {
    font-family: "cofo-sans-pixel", sans-serif;
    font-weight: 400;
    font-style: normal;    
    color: white;
    padding: 0;
    background-color: #780b0d;
    margin: 6em;
}

h1 {
    text-align: center;
    padding-top: 20px;
}

form {
    display: block;
    margin: 4em auto;
    width: 50%;
    padding: 3em;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

textarea {
    width: 100%;
    margin: 0.5em;
    font-size: 16px;
    border-radius: 5px;
}

button {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-family: "cofo-sans-pixel", Arial, Helvetica, sans-serif;
}

button:hover {
    background-color: red;
}

#userResponses {
    margin-top: 20px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: black;
}
